
body{
	font-family: 'Manrope', sans-serif;
}
.wrapper{
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../img/Background2.png');
	display:block-inline;
}
.logo {
	font-size: 20px;
	color: black;
	font-weight: bold;
}
nav div {
	max-width: 330px;
	width: 100%;
	display: flex;
}

nav a {
	font-weight: bold;
	font-size: 15px;
	text-decoration: none;
	color: black;
}
nav {
	display: flex;
	flex-direction: row;
	margin-left:65px;
}
nav img{
	/*margin-left: 10px;*/
}
.Change{
    margin-left: 46px;
	width: 20px;
	height: 20px;
}
.end{
	   margin-left: 400px;

}
.end span{
	width: 40px;
}
.spacing{
 word-spacing: 20px;
}
.Cha{
	margin-right:10px;
	width: 12px;
	height: 6px;
}
.NextBody {
	font-size: 42px;
	padding-left: 100px;
	padding-top: 50px;
}
.Img{
	margin-left: -100px;
}
.Back{
	height: 200px;
}
.NextBody p{
	text-align: center;
	font-size:20px; 
	color: white;
	padding:20px; 
	width: 220px;
	background: #8C30F5;
	border-radius: 8px;
	display: block;
	
}
.NextSome{
	
text-align: center;
}
.NextSome h2{
	display: flex;
	justify-content: center;
	font-size: 48px;
}
.NextSome p{
	display: flex;
	justify-content: center;
	font-size: 18px;
}
.Tables{
	margin-left: 230px;
	width: 1000px;

}
.Tables1{
	display: flex;
	justify-content: center;
	text-align: center;
}
.Tables2{
	display: flex;
	justify-content: center;
	text-align: center;
}
.Tables h5{
	font-size: 24px; 
}
.Tables p{
	font-size:16px;
}
.Background2{
	background: #D5FAFC;
	height: 865px;
}
.ImageF{
	padding-top: 22px;
	margin-left: 50px;

}
.Hcou h2{
	font-size:48px;
	margin-left: 100px;
	height: 96px;
}
.Hcou p{
	font-size: 18px;
	margin-left: 100px;
}
.Imag{
	position: relative;
	margin-left: 300px;
    height: 200px;
    width: 900px;
}
.Imag1{
	position: absolute;
	right: 5px;
	bottom: 20px;
}
.Imag2{
	position: absolute;
	right: 1px;
	top: 200px;
	line-height: 1px;
}
.Image3{
	position: absolute;
	left: 1px;
	top: 200px;
	line-height: 1px;
}
.IHaveNoTime{
	position: relative;
	margin-top: 82px;
	margin-left: 100px;
}
.IHaveNoTime h2{
	font-size: 48px;
	width: 400px;
}

.Tabl{	
	position: absolute;
	display: flex;
	justify-content: flex-end;
	width: 1000px;
	bottom: -100px;
}
.Tabl h4{
	font-size: 28px;
	height: 10px;
}
.Tabl p{
	font-size: 16px;
}
.List1{
	list-style: none;
	background: url('../img/01.png') no-repeat 0 4px;
	padding-left: 50px;
}
.List2{
	list-style: none;
	background: url('../img/04.png') no-repeat 0 4px;
	padding-left: 50px;
}
.List3{
	list-style: none;
	background: url('../img/05.png') no-repeat 0 4px;
	padding-left: 50px;
}
.List4{
	list-style: none;
	background: url('../img/Icon2.png') no-repeat 0 4px;
	padding-left: 50px;
}
.Phone{
	padding-top: 100px;
	margin-left: 100px;
}
.Phone img{
	float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
}
.Phone h3{
	font-size: 52px;
	padding-top: 90px;
	margin-left: 700px;
}
.Phone p{
	font-size:20px;
	margin-left: 700px;
}
.MagentaS{
	color: #8C30F5;

}
.ItsAlmostDone{
	margin-left: 100px;
	padding-top: 200px;
}
.ItsAlmostDone h3{
	font-size: 52px;
	float:left;
}
.ItsAlmostDone p{
	padding-top: 40px;
	font-size: 20px;
	margin-left: 700px;
}
.HellYeah{
	margin-left: 120px;

}
.SomethingWrong{
	position: relative;
	height: 500px;
	background: #2EC5CE;
}
.SomethingWrong h2{
	margin-left: 120px;
	padding-top: 80px;
	font-size: 48px;
}
.SomethingWrong p{
	margin-left: 120px;
	font-size: 18px;
}
.Almost{
	
padding-top: 50px;
}
.Between{
	margin-left: 120px;
}

.LastOne{
	position: absolute;
	left: 700px;
	bottom: 85px;
}

.LastSecond{
	position: absolute;
	left: 1000px;
	bottom: 1px;
}
.ItsBroken{
	background: #0B0D17;
	height: 250px;
	font-size: 16px;
}
.ItsBroken img{
	padding-top: 46px;
	margin-left:120px; 
}
.NoFirst{
	margin-left:120px; 
}
.TextMore{
	word-spacing: 10px;
	color:white;
	display: flex;
	flex-direction: row;
}
.OneMoreText{
	
	color:white;
	display: flex;
	flex-direction: row;
}
.NoFirs1t{
	color:white;
	display: flex;
	flex-direction: row;
}
.OneMoreText span{
	margin-left:100px; 
}
.OneMoreText p{
 margin-left:20px; 
}
.AlmosOver{
	margin-left:120px; 
	color:white;
	display: flex;
	flex-direction: row;
}
.LastIma{
	position: relative;
}
.LastIm1{
	position: absolute;
	left: 1000px;
	bottom:90px;
	line-height: 1px;
}
.LastIm2{
	position: absolute;
	bottom:20px;
	left: 1000px;
	line-height: 1px;
}
.LastText{
	position: absolute;
	left: 1120px;
	bottom:130px;
	line-height: 1px;
 font-size: 18px;
 color: white;
}